<style type="text/css">
  .layui-table-cell {height:auto;line-height:25px;}
</style>
<table>
	<tr>
		<th colspan="7"><a href="{:url('Books/add')}"><button class="layui-btn">添加</button></a></th>
    </tr>
</table>

<table border="1" width="600">
  <tr align="center">
    <td>id</td>
    <td>标题</td>
    <td>作者</td>
    <td>发布时间</td>
    <td>内容</td>
  </tr>
  {volist name='booksInfo' id="v"}
  <tr align="center">
    <td>{$v.b_id}</td>
    <td>{$v.b_title}</td>
    <td>{$v.b_name}</td>
    <td>{$v.open_time|date="Y-m-d H:i:s"}</td>
    <td>{$v.b_content}</td>
  </tr>
  {/volist}
</table>

<script>
layui.use(['form'], function(){
  var form = layui.form;
  
});
</script>