    <span class="layui-breadcrumb">
      <a href="{:url('News/lists')}"><button style="float:right" class="layui-btn">返回</button></a>
    </span>
    <p style="color:red">{if condition="isset($error)"}{$error}{/if}</p>
  <form class="layui-form" action="" method="post">
	
	<div class="layui-form-item">
    	<label class="layui-form-label">新闻名称</label>
    	<div class="layui-input-inline">
      		<input type="text" name="n_title" autocomplete="off" placeholder="请输入新闻名称" class="layui-input" value="">
    	</div>
  	</div>

    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">内容</label>
      <div class="layui-input-block">
        <textarea name="n_content" placeholder="请输入内容" class="layui-textarea"></textarea>
      </div>
    </div>
  
	<div class="layui-form-item">
    	<label class="layui-form-label">图片</label>
    	<div class="layui-upload">
            <input type="hidden" name="n_img" value="" id="n_img">
  			<button type="button" class="layui-btn" id="test1">上传图片</button>
  			<div class="layui-upload-list">
    			<img class="layui-upload-img" id="demo1">
    			<p id="demoText"></p>
  			</div>
		</div>  
	</div>
  	
  	<div class="layui-form-item">
    	<label class="layui-form-label">发布时间</label>
    	<div class="layui-input-block">
      		<input type="radio" name="release_time" lay-filter="test" value="1" title="立即发布" checked="">
      		<input type="radio" name="release_time" lay-filter="test" value="2" title="定时发布">
    	</div>
      <div id="n_time">
        
      </div>
  	</div>


  	<div class="layui-form-item">
    	<div class="layui-input-block">
      		<input type="button" class="layui-btn" lay-submit lay-filter="*" value="发布">
      		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
    	</div>
  	</div>
</form>

<script>
  $(function(){
    layui.use(['upload','form','layer'], function(){
      var $ = layui.jquery
      ,upload = layui.upload
      ,form=layui.form
      ,layer=layui.layer;
      
      //普通图片上传
      var uploadInst = upload.render({
        elem: '#test1'
        ,url: "{:url('News/upload')}"
        ,before: function(obj){
          //预读本地文件示例，不支持ie8
          obj.preview(function(index, file, result){
            $('#demo1').attr('src', result); //图片链接（base64）
          });
        }
        ,done: function(res){
          //如果上传失败
          if(res.code > 0){
            return layer.msg('上传失败');
          }
          //上传成功
          $('#n_img').val(res.msg);
          layer.msg('上传成功');
        }
        ,error: function(){
          //演示失败状态，并实现重传
          var demoText = $('#demoText');
          demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
          demoText.find('.demo-reload').on('click', function(){
            uploadInst.upload();
          });
        }
      });

      //时间
      form.on('radio(test)',function(data){
        //被点击的radio的value值
        var _val=data.value;
        var _this=$(this);
        if(_val==1){
          $("#n_time").empty();
        }else{
          $("#n_time").empty();
          $("#n_time").append("<input type='text' name='n_time' />");
        }
      });

      //提交
      form.on('submit(*)', function(data){
        $.post(
          "{:url('News/doadd')}",
          data.field,
          function(res){
            layer.msg(res.font,{icon:res.code});
          },
          'json'
        )
        //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        //return false;
      });

    });
  });
</script>
